:root {
    --clr-accent: #2E6171;
    --clr-rgba: #FFFFFF;
}

/*
@font-face {
    font-family: ;
    src: url();
}
*/

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display:flex;
    flex-direction: column;
    background-color: var(--clr-rgba);
}

section {
    margin: 0 auto;
    max-width: 1000px;
    padding: 125px 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/*
    NAVIGATION BAR
*/
#navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 80px;
    width: 100vw;
    background-color: var(--clr-rgba);
}


.navbar__links {
    display: flex;
}

.navbar__link {
    margin: 1.2rem;
    color:#123412;
    font-size: 1.2rem;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.navbar__link:hover {
    color:#2E6171;
    font-size: 1.5rem;
}

/*
    HOME
*/

#home {
    padding-top: 100px;
}

/*
    FOOTER
*/
#footer {
    height: 80px;
    padding: 150px 0 40px 0;
}

.footer_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*
    Login Page
*/
.login {
    padding-top:100px;
}