:root {
    --clr-accent: #306BAC;
    --clr-rgba: #FFFFFF;
}

/*
@font-face {
    font-family: ;
    src: url();
}
*/

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display:flex;
    flex-direction: column;
    background-color: var(--clr-rgba);
    min-height: 100vh;
}

section {
    flex: 1;
    margin: 0 auto;
    max-width: 74vw;
    padding: 125px 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/*
    NAVIGATION BAR
*/
#navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    height: 80px;
    width: 100vw;
    background-color: var(--clr-rgba);
}


.navbar__links {
    display: flex;
}

.navbar__link {
    margin: 1.2rem;
    color: black;
    font-size: 1.2rem;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.navbar__link:hover {
    color: var(--clr-accent);
    font-size: 1.5rem;
}




/*
    FOOTER
*/
.footer {
    background-color: var(--clr-accent); 
    color: var(--clr-rgba); 
    padding: 20px; 
    text-align: center;
  }
  
  .footer__content {
    max-width: 800px; 
    margin: 0 auto; 
  }
  
  .footer__content p {
    margin-bottom: 10px; 
  }
  
  .footer__content a {
    color: var(--clr-rgba); 
    text-decoration: none; 
    font-weight: bold; 
  }
  

/*
    Buttons
*/

.primary-btn {
    font-family:Arial, Helvetica, sans-serif;
    font-size: .9rem;
    background-color: transparent;
    color: var(--clr-accent);
    border: 3px solid var(--clr-accent);
    border-radius: 50px;
    padding: .6rem 1.3rem;
    margin-top: 1.8rem;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.primary-btn:hover {
    background-color: var(--clr-accent);
    color: var(--clr-rgba);
    transform: scale(1.1);
}

/*
    HOME
*/



.main__header {
    text-align: center;
    padding: 50px 0;
  }
  
  .main__heading {
    font-size: 3em;
    color: var(--clr-accent); 
    font-family: 'Arial', sans-serif; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  }
  
  

/*
    LOGIN
*/

.login__container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: white;
    justify-items: center;
}

.loginBox1 {
    display: inline-grid;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #042f5c;
    justify-content: center;
    align-items: center;
}

.loginBox2 {
    display: inline-grid;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #93b2c5;
    justify-content: center;
    align-items: center;
}

.accountBox1 {
    display: inline-grid;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #042f5c;
    justify-content: center;
    align-items: center;
}

.accountBox2 {
    display: inline-grid;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #93b2c5;
    justify-content: center;
    align-items: center;
}

.loginLabel1 {
    display: flex;
    font-size: 20px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.loginLabel2 {
    font-size: 30px;
    text-align: center;
    color: white;
}

.loginLabel3 {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
    font-size: 20px;
    color: white;
}

.loginInput {
    padding: 10px;
    font-size: 20px;
    color: black;
}

.loginInput2 {
    display: flex;
    margin: 0px auto;
    padding: 5px;
    font-size: 20px;
    color: black;
}

.loginHeading {
    display: flex;
    margin: 0px auto;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 40px;
    color: white;
}

#loginButton {
    display: flex;
    margin: 40px auto;
}

#accountButton {
    display: flex;
    margin: 0px auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.account__page {
    display: inline-grid;
    background-color: #93b2c5;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 300px;
    padding-right: 300px;
    justify-items: center;
    align-items: center;
}

.accountInformation {
    display: flex;
    margin: 0px auto;
    color: white;
}

#accountName {
    font-size: 30px;
    padding-top: 60px;
    padding-bottom: 20px;
}

#accountTokens {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 80px;
}

/*
    CATALOG
*/
#catalog__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#featured__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 250px;
    height: 325px;
    padding: 4px 4px;
    margin: 10px;
    background-color: white;
}

.catalog_image {
    width: 240px;
    height: 215px;
}


.buttonAddToCart {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 125px;
    background-color:  #93b2c5;
}

.buttonAddToCart:hover {
    background-color: #6c8391;
}


.addToCartIcon {
    width: 25px;
    height: 25px;
    
}

.container {
    justify-content: space-between;
    display:flex; 
    flex-direction: column;
}

.addToCart {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.productPrice {
    margin-top:30px;
}

/*
    ABOUT
*/

.about__container {
    max-width: 600px; 
    margin: 0 auto; 
    padding: 20px;
    background-color: #f8f8f8; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.about__container p {
    margin: 0; 
    font-size: 16px; 
    line-height: 1.5; 
    
}

/*
    CART
*/

.cartItem {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    justify-content: space between;
    width: 700px;
    height: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px;
    border: 5px solid #042f5c;
}

.cartItemContainer {
    display: flex;
    flex-direction: column;
    background-color: #042f5c;
    flex: 70%;
    margin: 0px 10px;
    border-radius: 10px;
}

.cartImgContainer {
    flex: 30%;
    background-color: white;
    margin: 0px 10px;
}

.cartItemNamePrice {
    flex: 40%;
    background-color: #042f5c;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.cartItemQuantity {
    flex: 20%;
    font-size: 15px;
    color: white;
    background-color: #042f5c;
    padding-left: 70px;
    padding-top: 5px;
}

.cartButton {
    flex: 40%;
    background-color: #042f5c;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
}

.cartItemName {
    flex: 1;
    font-size: 20px;
    color: white;
    background-color: #042f5c;
    text-align: center;
    padding-top: 10px;
}

.cartItemPrice {
    flex: 1;
    font-size: 20px;
    color: white;
    background-color: #042f5c;
    text-align: center;
    padding-top: 10px;
}

.cartImg {
    width: 100%;
    height: 100%;
}

.cartRemoveButton {
    border-radius: 15px;
    width: 100px;
    height: 30px;
    border: 3px solid #306BAC;
    color: #306BAC;
    background-color: #042f5c;
}

.cartRemoveButton:hover {
    background-color: red;
    border: 3px solid #306BAC;
    color: #306BAC;
}

